@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:linear-gradient(180deg,#07111f,#0d1b2d);

color:white;

min-height:100vh;

}

.container{

max-width:520px;

margin:auto;

padding:24px;

}

h1{

font-size:40px;

font-weight:700;

margin-bottom:5px;

}

.welcome{

color:#8ea8c9;

margin-bottom:25px;

font-size:18px;

}

.progress-card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

padding:22px;

border-radius:22px;

margin-bottom:25px;

border:1px solid rgba(255,255,255,.08);

}

.progress{

height:14px;

background:#253750;

border-radius:100px;

overflow:hidden;

margin-top:15px;

}

.progress-fill{

height:100%;

width:8%;

border-radius:100px;

background:linear-gradient(90deg,#00d4ff,#3b82f6);

}

.card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

padding:22px;

border-radius:22px;

margin-bottom:22px;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 40px rgba(0,0,0,.35);

transition:.25s;

}

.card:hover{

transform:translateY(-4px);

}

h2{

margin-bottom:10px;

}

label{

display:block;

padding:12px 0;

font-size:18px;

}

input{

transform:scale(1.3);

margin-right:10px;

}

button{

margin-top:22px;

width:100%;

padding:18px;

font-size:18px;

border:none;

border-radius:18px;

font-weight:600;

color:white;

background:linear-gradient(90deg,#2563eb,#3b82f6);

box-shadow:0 15px 30px rgba(37,99,235,.35);

cursor:pointer;

}

button:active{

transform:scale(.98);

}

#timer{

text-align:center;

margin-top:25px;

font-size:30px;

font-weight:700;

color:#7ecbff;

}
